<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head> 
<body>  

    <div class="Title-Container">

        <div class="Title">Sign Up!!!  Welcome to</div>      
    </div>

    <div class="Top-Text">
      <div class="container " >
        <div  class="mb-3 shadow  rounded  bg-white" style="border-width:medium;">
            <div class="row justify-content-center ">
                <div class="col-md-6 text-center">
                  <h1 class=" mt-2 py-2 text-warning font-weight-bold">Karunadu&thinsp;<span style="color:black"></span></h1>
                </div>
            </div>
      </div>
    </div>
    </div>


    <div class="Top-Text">
      <div class="container " >
        <div  class="mb-3 shadow  rounded  bg-white" style="border-width:medium;">
            <div class="row justify-content-left ">
                <div class="col-md-10 text-left">
                 

                  <form class="signup">

                    <div class="form-group1">
                      <label for="exampleInputEmail1" style="font-family:Philosopher-Regular;font-size: 30px;font-weight: bolder;"><i class="fas fa-user mr-1"></i>Email Address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email" style="margin-left: 1rem;" required>
                      <small id="emailHelp" class="form-text text-muted" style="font-size: 15px;font-family:Philosopher-Regular;font-weight: lighter;">We'll never share your email with anyone else.</small>
                    </div>
            
                    <div class="form-group2">
                      <label for="exampleInputPassword1" name="password" id="password"  style="font-family:Philosopher-Regular;font-size: 30px;font-weight: bolder;"><i class="fas fa-lock prefix mr-1"></i>Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="margin-left: 1rem;" required>
                    </div>
            
                   <a routerLink="/home"> <button type="submit" (click)="useraddition();"  class="btn btn-primary" style="font-size: 20px;">Submit</button></a>
                  
                </form>
            
                  <div class="login-link" style="margin-left: 1rem;">
                      <p>Already Have an Account ? <a routerLink='/login'>Login here</a> </p>
                  </div>



                </div>
            </div>
      </div>
    </div>
    </div>
        








<div class="Footer">
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

 
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left bg-dark ">

    <!-- Grid row -->
    <div class="row ">

      <!-- Grid column -->
      <div class="col-md-3  mx-auto mb-4 mt-2">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold text-white">Karunadu</h6>
       
        <p class="text-white">A tourism website which helps the tourist people for exploring karnataka .</p>

      </div>
      <!-- Grid column -->

     

      

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-2">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold text-white">Contact</h6>
      
        <p class="text-white">
           Bengaluru,Karnataka,India</p>

        

      </div>
       <!-- Grid column -->
  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-2">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold text-white">Useful links</h6>
          
          <p>
            <a routerLink="/about" class="text-white">About us</a>
          </p>
          
      
          

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white" style="background-color:  rgba(29, 8, 8, 0.986);">© 2021 Copyright:
    <a routerLink="/home" class="text-white">karunadu.com</a>
  </div>
  <!-- Copyright -->

</footer>
</div>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    
</body>
</html>
